@charset "utf-8";
/* CSS Document */

*{
	margin:0px;
	padding:0px;
}

body{
	margin:auto 2%;
	width:auto;
	height:auto;
	background:url(bg1.jpg);
	background-repeat:no-repeat;
	background-size:100%;
	background-attachment:fixed;
	background-size:cover;
}

#general{
	box-sizing:border-box;
}

h1{
	color:#CCC;
	font-size:2.7em;
	position:static;
	text-align:center;
}

h2{
	color:#FFF;
}

h4{
	margin:2% 2%;
	color:#FFF;
	font-size:1.3em;
}

div{
	border:solid #F00;
	color:#CCC;
	float:left;
	font-size:1.3em;
	width:auto;
	margin:auto;
	padding:none;
}
#juego{
	color:#CCC;
	font-size:1.3em;
	float:left;
	width:21%;
	margin: 0 2%;
}

#enlaces{
	font-size:1.3em;
	width:21%;
	margin:0 2%;
	float:left;
	font-family:Georgia, "Times New Roman", Times, serif;
}

section{
	margin:auto;
	width:50%;
}