@charset "utf-8";
/* CSS Document */

*{
	margin:0px;
	padding:0px;
}

body{
	width:auto;
	height:auto;
	background:url(Imagenes/bg1.jpg);
}

h2{
	padding-left:3%;
	color:#999;
	font-size:1.5em;
}

h4{
	width:94%;
	padding-left:3%;
	font-size:1.3em;
	text-shadow:#00F 2px 2px;
}
p{
	color:#1AFF1A;
	font-size:1.4em;
	text-shadow:#000 3px 1px 3px;
	text-align:justify;
}

h1{
	font-size:2.5em;
	text-align:center;
	color:#666;
}

div{
	width:60%;
	padding-left:20%;
}